.searchbar-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	tui-input {
		width: 225px;
	}
}

.table {
	width: 100%;
	margin: 12px 0;
	text-align: left;

	tr {
		border-bottom: 1px solid #ededed;
	}

	th {
		color: rgba(27, 31, 59, 0.65);
		padding: 12px 0;
		font-weight: 500;
	}

	td {
		padding: 12px 0;
		font-weight: 400;
		width: 25%;
	}

	.long-cell {
		width: 35%;
	}

	.country-link {
		display: flex;
		justify-content: space-between;
		padding-right: 12px;

		a {
			color: rgba(27, 31, 59, 0.65);
		}
	}
}

.pagination-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 18px;
}
