<div class="searchbar-wrapper">
	<form [formGroup]="form">
		<tui-input
			tuiTextfieldIconLeft="tuiIconSearch"
			formControlName="value"
			tuiTextfieldSize="s"
			[tuiTextfieldCleaner]="true"
			[tuiTextfieldLabelOutside]="true"
			class="input"
		>
			Поиск
			<input placeholder="Введите название страны" tuiTextfield type="text" />
		</tui-input>
	</form>
</div>

<table tuiTable class="table">
	<thead>
		<tr>
			<th tuiTh>ID страны</th>
			<th tuiTh>Наименование</th>
			<th tuiTh>Код страны</th>
			<th tuiTh>Код валют</th>
		</tr>
	</thead>
	<tbody tuiTbody>
		@for (item of data; track item.wikiDataId) {
			<tr tuiTr>
				<td tuiTd>
					<div class="country-link">
						{{ item.wikiDataId }}
						<a icon="tuiIconExternalLink" iconAlign="left" tuiLink> </a>
					</div>
				</td>
				<td tuiTd>{{ item.name }}</td>
				<td tuiTd>{{ item.code }}</td>
				<td tuiTd>{{ item.currencyCodes }}</td>
			</tr>
		}
	</tbody>
</table>

<div class="pagination-wrapper">
	<tui-pagination
		[index]="currentPageIndex"
		[length]="totalPages"
		(indexChange)="goToPage($event)"
	>
	</tui-pagination>
</div>
